[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.5"
pyyaml = "*"
pillow = "==9.2.0"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
