{% load static%}
<div id="experience" class="section-fullscreen-min section-experience row ">
    <style>
        .section-experience{
            {% if home_page %}
            background-image: url({{home_page.experience_background.url|safe}}) ;
            {% else %}
            background-image: url({% static 'img/pine-trees-during-night-time.jpg' %}) ;
            {% endif %}

        }
        </style>
        <div class="experience-title h2">Work Experience</div>
    <div class="div-experience row justify-content-center">
        {% for experience in experiences %}
           {% include 'home/snippets/experience.html' with experience=experience %}
        {% endfor %}
    </div>
</div>