{% load static%}
<div id="intro" class="section-fullscreen section-intro row ">
<style>
    .section-intro{
        {% if home_page %}
        background-image: url('{{ home_page.intro_background.url|safe }}') ;
        {% else %}
        background-image: url({% static 'img/black-mountain.jpg' %}) ;
        {% endif %}
    }
    
    .intro-pic{
        background-image: url('{{ me.picture.url|safe }}');
    }
</style>
    <div class="my-intro row ">
        <div class="intro-pic">
        </div>
        <div class="intro-text col">
            <p>{{me.greeting_text}}</p>
            <h1>{{me.name}}</h1>
            <p>{{me.bio}}</p>
            {% if me.major %}
            <p>Major - {{me.major}}</p>
            {% endif %}
            {% if me.minor %}
            <p>Minor - {{me.minor}}</p>
            {% endif %}
            {% if me.micro_credential%}
            <p>Micro Credential - {{me.micro_credential}}</p>
            {% endif %}
        </div>
    </div>
</div>