{% load static%}
<div id="works" class="section-fullscreen-min section-works row ">
    <style>
        .section-works{
            {% if home_page %}
            background-image: url({{home_page.work_background.url|safe}}) ;
            {% else %}
            background-image: url({% static 'img/sea-under-cloudy-sky.jpg' %}) ;
            {% endif %}
        }
        </style>
    {% comment %}  {% endcomment %}
    <div class="div-works row justify-content-center">
        {% for work in works %}
           {% include 'home/snippets/work.html' with work=work%}
        {% endfor %}
        
    </div>
</div>