{% extends 'base.html' %}
{% load static %}
{% block body %}
<main id="main" class="main-container" class="row">
    <div id="main-content">
        {% if home_page %}
            {% if home_page.intro%}
                {% include "home/_intro.html" %}
            {% endif %}
            {% if home_page.work%}
                {% include "home/_works.html" %}
            {% endif %}
            {% if home_page.experience%}
                {% include "home/_experience.html" %}
            {% endif %}
            {% if home_page.about%}
                {% include "home/_about.html" %}
            {% endif %}
        {% else %}
        {% include "home/_intro.html" %}
        {% include "home/_works.html" %}
        {% include "home/_experience.html" %}
        {% include "home/_about.html" %}
        {% endif %}
    </div>
</main>
  
{% endblock body %}

{% block stylesheets %}
  
{% endblock stylesheets %}