//  colors
$white: #ffffff;
$seagreen: #069370;
$darkgrey: #262626;
$blue: #005bbb;
$blueDark: #002f56;
$redOrange: #da3c28;
$blueLight: #2f9fd0;
$greyLight: #e7e6e6;
$greyLight2: #e4e4e4;
$vlackLight: #666666;
$yellow: #ffc72c;

$background-white: aliceblue;
$bg-white-rgba: rgb(240, 248, 255, 0.5);
$bg-white-rgba-darker: rgb(240, 248, 255, 0.7);
$menu-green: $seagreen;
$project-card: $seagreen;
$open-source-card: $blue;
$contribution-card: $yellow;
$none-card: $redOrange;

// $primary-color: ;
// $secondary-color: ;
