<footer class="z100">
    <div class="navbar fixed-bottom navbar-light bg-transparent col-1">
        <div class="container-fluid">
            <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-share-alt-square fa-2x"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link footer-link " href="https://github.com/harjotbarn99">
                <i class="fab fa-github fa-2x"></i>
                </a>
              <a class="nav-link footer-link " href="https://www.linkedin.com/in/harjot-barn-181b33194/">
                <i class="fab fa-linkedin-in fa-2x"></i>
                </a>
              <a class="nav-link footer-link " href="https://www.facebook.com/harjot.s.barn">
                <i class="fab fa-facebook-f fa-2x"></i>
                </a>
              <a class="nav-link footer-link" href="https://www.instagram.com/harjot_barn99/">
                <i class="fab fa-instagram fa-2x"></i>
                </a>
            </div>
          </div>
        </div>
    </div>
  </footer>