{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap and font awsome -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> {% endcomment %}
    <script src="https://kit.fontawesome.com/12a43a9cdb.js" crossorigin="anonymous"></script>
    <!--  -->
    <title>{% block title %}Harjot Barn's Website{% endblock title %}</title>
    <link rel="icon" href="{% static 'img/favicon.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block stylesheets %}{% endblock stylesheets%}
  </head>
  <style>
  body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url({% static 'img/bg-home.jpg' %});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
   </style>
  <body>
  {# header and navbar #}
      {% block header %}
        {% include 'navbar.html' %}
    {% endblock header %}
  {# Notifications #}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} m-3 p-2">
            {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {# body #}
    {% block body %}<h1>default body</h1>{% endblock body %}
    {# JS/foundationsites #}
    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
     {% endcomment %}
    {% block javascript %}{% endblock javascript%}
        <script type="text/javascript">
      $(document).ready(function () {
        $('.menu-toggle').click(function () {
          $('.menu-toggle').toggleClass('active');
          $('nav').toggleClass('active');
        });
      });
    </script>
  </body>
</html>