{% load static %}
<header>
  <div class="flex-container align-justify">
    <div >
      <a href="#intro" class="logo"
        ><img
          src="{% static 'img/favicon.ico' %}"
          class="d-inline-block imgLogo"
          alt="Logo"
          loading="lazy"
      /></a>
    </div>
    <div class="nav-components">
      <div class="menu-toggle"></div>
      <nav>
        <ul>
          <li><a href="#intro">Home</a></li>
          <li><a href="#projects">My Projects</a></li>
          <li><a href="mailto:harjotbarn99@gmail.com">Contact Me</a></li>
        </ul>
      </nav>
      <dic class="clearfix"></dic>
    </div>
  </div>
  
</header>
