{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Harjot's Website</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />

    <!-- Font -->

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500"
      rel="stylesheet"
    />

    <link href="{% static 'css/comingSoon.css' %}" rel="stylesheet" />
    <style>
      .bgrnd {
        background: url({% static 'img/countdown-3-1600x900.jpg'%});
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div class="main-area center-text bgrnd">
      <div class="display-table">
        <div class="display-table-cell">
          <h1 class="title font-white"><b>Coming Soon</b></h1>
          <p class="desc font-white">
            My website is currently being build. It Should
            be up shortly. Thank you for your patience.
          </p>

          <a class="notify-btn" href="mailto:harjotbarn99@gmail.com"><b>NOTIFY ME</b></a>

          <ul class="social-btn font-white">
            <li><a href="https://www.facebook.com/harjot.s.barn">facebook</a></li>
            <li><a href="https://github.com/harjotbarn99">git hub</a></li>
            <li><a href="https://www.linkedin.com/in/harjot-barn-181b33194/">linkedin</a></li>
            <li><a href="https://www.instagram.com/harjot_barn99/">instagram</a></li>
          </ul>
          <!-- social-btn -->
        </div>
        <!-- display-table -->
      </div>
      <!-- display-table-cell -->
    </div>
    <!-- main-area -->
  </body>
</html>
